@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #ede9fe;
  background-image: linear-gradient(90deg,#fff1f2 5%, rgba(0, 0, 0, 0) 5%), linear-gradient(#fff1f2 5%, rgba(0, 0, 0, 0) 5%);
  background-size: 20px 20px;
}

.app-card {
  box-shadow: 4px 4px 0 0 rgba(0, 0, 0, 1);
  @apply border-2 border-black rounded-md;
}

.app-card-ns {
  @apply border-2 border-black rounded-md;
}

/* 滚动槽 */
::-webkit-scrollbar {
  width: 0;
  height: 0;
}